body {
    background-color: #ecd3d3;
}

header {
    margin-bottom: 75px;
    background-color: #bab0a4;
    margin-top: 0;
    padding: 1px;
    padding-bottom: 20px;
    border-bottom: 5px solid black;
}
.bottom {
    display: flex;

}


.bottom .where-to-find {
    background-color: #dbddec;
    /* margin-right: 50px; */

}

.bottom .about {
    background-color: #dbddec;
    margin-left: 50px;
}

.bottom .where-to-find, .about{
    border: 5px solid #bab0a4;
    border-radius: 10px;
    margin: 0 auto;
}

.dog {
    display: flex;
}

.dog img {
    margin: 0px 35px 20px 0px;
}

.name {
    font-weight: bold;
}



.form {
    background-color: #dbddec;
    width: 75%;
    padding: 30px 0px 0px 20px;
    border: 5px solid #bab0a4;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
}


.form button {
    background-color: #dbddec;
    color: #000;
    /* margin: 20px 0px 0px 50px; */
    border: 5px solid #bab0a4;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    margin-right: 20px;


}
/* 
.form textarea, label {
    margin-left: 50px;
} */

.form .input-field {
    /* border: 5px solid #bab0a4;
    border-radius: 5px; */
    margin: 0 auto;
    height: 75px;
    margin-right: 20px;
}

.form button:hover {
    background-color: #bab0a4;
}

.form form .input-field label {
    color: black;
}

   /* label focus color */
   .input-field #textarea1:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field #textarea1:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  .input-field select option {
    color: black;
  }

  .input-field select option:focus {
    border-bottom: 1px solid #000;
  }


  .dog:hover {
    cursor: pointer;
    /* border: 5px solid #bab0a4;
    border-radius: 10px; */
    height: 200px;
  }


  a:hover {
    color: #bab0a4;
  }



