* {
    margin: 0;
    padding: 0;
}

section {
    background-color: #bab0a4;
    height: max-content;
    margin: 0;
    padding: 0;
}
.description {
background-color: #bab0a4;
display: inline;
flex: 1;
flex-direction: column;
margin-left: 20px;

}

header {
    background-color: 	#ecd3d3;
    height: 100px;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 35px;
    padding-top: 25px;
}

.dogPhoto {
    flex: 1;
    display: flex;
    display: block;
    flex-wrap: wrap;
}

.image1, .image2, .image3 {
    height: 400px;
    width: 400px;
    background-color: #ecd3d3;
    margin: 50px;
    margin-left: 200px;
}

.description p {
    margin: 10px;
    align-self: flex-end;
}

.appended-image1 {
    height: 400px;
    width: 400px;
}