.description {
float: right;
flex: 1;
margin-right: 200px;
flex-direction: column;
justify-content: space-between;
}

header {
    text-align: center;
    font-size: 26px;
}

.dogPhoto {
    flex: 1;
    display: flex;
    display: block;
    flex-wrap: wrap;
}

.image1, .image2, .image3 {
    height: 400px;
    width: 400px;
    background-color: black;
    margin: 50px;
    margin-left: 200px;
}

.description p {
    margin: 10px;
    align-self: flex-end;
}