* {
    margin: 0;
    padding: 0;
}

section {
    background-color: #ecd3d3;
    height: max-content;
    margin: 0;
    padding: 0;
}
.image1 .description,
.image2 .description,
.image3 .description {
    flex: 1;
    background-color: #bab0a4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
}

header {
    text-align: center;
    margin-bottom: 100px;
    background-color: #bab0a4;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 5px 30px 5px;
    border-bottom: 7px solid black;
}

h1 {
    text-align: center;
    font-size: 35px;
    padding-top: 25px;
}

/* .dogPhoto {
    flex: 1;
    display: flex;
    display: block;
    flex-wrap: wrap;
    justify-content: flex-end;
    
} */

.image1 .photo img,
.image2 .photo img,
.image3 .photo img {
    max-width: 100%;
    max-height: 100%;
}
.breed, .details, .findFurBaby {
    margin-bottom: 10px;
    width: 100%; 
}
.appended-image1, .appended-image2, .appended-image3 {
    height: 400px;
    width: 400px;
}
