
body {
    background-color: #ecd3d3;
}
header {
    text-align: center;
    margin-bottom: 100px;
    background-color: #bab0a4;
    margin-top: 0;
    padding: 5px 5px 30px 5px;
    border-bottom: 7px solid black;
}


.quiz {
    width: 75%;
}
.question {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.question p {
    text-align: center;
    margin: 0px 10px 40px 10px;
    
}

.question div {
    margin: 0 auto;
    margin-bottom: 40px;
}

.next-prev {
    display: flex;
    justify-content: center;
}

.quiz .next {
   width: 50%;
   left: 100%;
   background-color: #ecd3d3;
   color: black;
   border: 4px solid #bab0a4;
   font-size: 17px;
   padding-bottom: 35px;

}

#q1-next {
    width: 75%;
    position: relative;
    left: 250%;
    background-color: #ecd3d3;
    color: black;
    border: 4px solid #bab0a4;
    font-size: 17px;
    padding-bottom: 35px;
}

#q1-next:hover {
    background-color: 	#dbddec;

}

#submit {
    padding-left: 10px;
}



.quiz .prev {
    width: 75%;
    right: 100%;
    background-color: #ecd3d3;
    color: black;
    border: 4px solid #bab0a4;
    font-size: 17px;
    padding-bottom: 35px;

}

.quiz .next:hover {
    background-color: 	#dbddec;
}

.quiz .prev:hover {
    background-color: 	#dbddec;

}



/* .answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.answers p {
    display: inline;
    position: relative;
    font-size: 12px;
    width: 5%;
    background-color: 	#ecd3d3;
    padding: 10px;
    border-radius: 7px;
    border: 5px solid #bab0a4;
    /* margin: 0px 20px 0px 20px; */
}

/* .medium {
    left: 3%;
} */

/* .low {
   right: 10%;
}

.high {
    left: 10%;
} */


.quiz-btns .btn {
    background-color: #dbddec;
    margin: 30px 30px 0px 30px;
    border: 4px solid #bab0a4;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}



.question .labels span {
    margin: 0px 50px 0px 50px;
    font-size: 17px;
}

.quiz-btns .btn:hover {
    background-color: #bab0a4;
}

.question {
    background-color: 	#ecd3d3;
}

.question h5 {
    margin: 60px 0px 80px 0px;
    font-size: 30px;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.fun-fact-container p {
    background-color: #dbddec;
    padding: 20px;
    width: 250px;
    margin: 0;
   
}

.fun-fact-container h5 {
   background-color: #dbddec;
   width: 250px;
   padding: 20px;
   padding-bottom: 0;
   margin-bottom: 0;
   border: 5px solid #bab0a4;
    border-bottom: 0;
    border-radius: 10px 10px 0px 0px;
}

.fun-fact-container .fun-fact {
    border: 5px solid #bab0a4;
    border-radius: 0px 0px 10px 10px;
    font-size: 18px;
    border-top: 0;
}









