
body {
    background-color: #ecd3d3;
}
header {
    text-align: center;
    margin-bottom: 100px;
    background-color: #cec0b1;
    margin-top: 0;
    padding: 5px 5px 30px 5px;
}


.quiz {
    display: flex;
    justify-content: center;
    width: 100%;
}
.question {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.question p {
    text-align: center;
    margin-bottom: 40px;
}

.question div {
    margin: 0 auto;
    margin-bottom: 40px;
}

.next-prev {
    display: flex;
    justify-content: center;
}

.quiz .next {
   width: 50%;
   left: 100%;
   background-color: #dbddec;
   color: black;
   border: 4px solid #bab0a4;
   font-size: 17px;
   padding-bottom: 35px;

}

#q1-next {
    width: 75%;
    position: relative;
    left: 250%;
    background-color: #dbddec;
    color: black;
    border: 4px solid #bab0a4;
    font-size: 17px;
    padding-bottom: 35px;
}

#q1-next:hover {
    background-color: 	#ecd3d3;

}

.quiz .prev {
    width: 75%;
    right: 100%;
    background-color: #dbddec;
    color: black;
    border: 4px solid #bab0a4;
    font-size: 17px;
    padding-bottom: 35px;

}

.quiz .next:hover {
    background-color: 	#ecd3d3;
}

.quiz .prev:hover {
    background-color: 	#ecd3d3;

}



.answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.low {
   position: relative;
   right: 50%;
}

.high {
    position: relative;
    left: 50%;
}


.quiz-btns .btn {
    background-color: #dbddec;
    margin: 30px;
    border: 4px solid #bab0a4;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.quiz-btns .btn:hover {
    background-color: #bab0a4;
}

.question {
    background-color: 	#ecd3d3;
}








